@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #ffffff;
}

.btn-custom, .btn-custom:hover, .btn-custom:focus, .btn-custom:active {
    border-radius: 0;
    color: #ffffff;
    background-color: #26c6da;
    border-color: #26c6da;
}

.container1 {
    width: 100%; /* Full width of the viewport */
    max-width: 1200px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container */
}
.navbar-brand {
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    font-size: 24px; /* Increase font size for the brand name */
    font-family: 'Poppins', sans-serif; /* Use the imported Roboto font */
    font-weight: bold; /* Make navbar fonts bold */
}

.navbar-collapse {
    color: black;
    font-family: 'Roboto', sans-serif; /* Use the imported Roboto font */
    font-weight: bold; /* Make navbar fonts bold */
}

form {
    border: 3px solid #204a87;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px; /* Increase logo size */
    height: auto;
}

.form-signin {
    max-width: 500px; /* Increase form width */
    padding: 50px; /* Adjust padding */
    margin: 0 auto; /* Center form */
}

.btn-custom, .btn-custom:hover, .btn-custom:focus, .btn-custom:active {
    border-radius: 0;
    color: #ffffff;
    background-color: #26c6da;
    border-color: #26c6da;
}

.btn-custom {
    background-color: #26c6da;
    border-color: #26c6da;
}

.btn-custom-LOGIN {
    border-radius: 0;
    color: #ffffff;
    height: 3em;
    background-color: #26c6da;
    border-color: #26c6da;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red;
}

.navbar {
    color: black;
    background-color: #26c6da;
}

.navbar a {
    color: black; /* Sets the link text color */
    font-size: 18px; /* Adjust font size for links */
    font-family: 'Poppins', sans-serif;/* Use the imported Roboto font */
    font-weight: bold; /* Make navbar fonts bold */
}

.navbar a:hover, .navbar a:focus {
    color: #333; /* Darker color on hover/focus */
}


