.terraform
*.hcl
*.pub

target

modules

providers

*/tfstate

.terraform.lock.hcl

*.exe

.terraform/

terraform.tfstate

terraform.tfstate.backup

terraform.tfstate.lock

*.tfplan
