[Unit]
Description=Tomcat
After=network.target

[Service]
User=tomcat
WorkingDirectory=/usr/local/tomcat11
Environment=JRE_HOME=/usr/lib/jvm/java-17-openjdk-amd64
Environment=JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
Environment=CATALINA_HOME=/usr/local/tomcat11
Environment=CATALINA_BASE=/usr/local/tomcat11
ExecStart=/usr/local/tomcat11/bin/catalina.sh run
ExecStop=/usr/local/tomcat11/bin/shutdown.sh
SyslogIdentifier=tomcat-%i

[Install]
WantedBy=multi-user.target